CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS cad_turma (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    nome TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "cad_usuario" (
	"id"	INTEGER,
	"nome"	BLOB NOT NULL,
	"login"	TEXT NOT NULL,
	"nivel"	INTEGER NOT NULL,
	"turma"	TEXT,
	"fone"	TEXT,
	"email"	TEXT,
	PRIMARY KEY("id" AUTOINCREMENT)
);
CREATE TABLE IF NOT EXISTS cad_tipo (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    descricao TEXT NOT NULL

    

);
CREATE TABLE IF NOT EXISTS "cad_categoria" (
	"id"	INTEGER,
	"titulo"	TEXT NOT NULL,
	"id_escola"	INT,
	"cor"	TEXT,
	PRIMARY KEY("id" AUTOINCREMENT)
);
CREATE TABLE IF NOT EXISTS cad_acervo_digital (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    titulo TEXT NOT NULL,

    autor TEXT NOT NULL,

    editora TEXT NOT NULL,

    ano TEXT NOT NULL,

    categoria INTEGER NOT NULL,

    sinopse TEXT,

    arquivo_caminho TEXT,

    imagem_caminho TEXT

);
CREATE TABLE IF NOT EXISTS "cad_acervo" (
	"id"	INTEGER,
	"titulo"	TEXT NOT NULL,
	"categoria"	INTEGER NOT NULL,
	"tipo"	INTEGER NOT NULL,
	"isbn"	TEXT,
	"autor"	TEXT,
	"editora"	TEXT,
	"setor"	TEXT,
	"quantidade"	INTEGER,
	"estante"	TEXT,
	"prateleira"	TEXT,
	"sinopse"	TEXT,
	"capa"	TEXT,
	"codigo"	TEXT,
	PRIMARY KEY("id" AUTOINCREMENT)
);
CREATE TABLE IF NOT EXISTS "emprestimos" (
	"id"	INTEGER,
	"user_id"	INTEGER NOT NULL,
	"acervo_id"	INTEGER NOT NULL,
	"total_dias"	INTEGER NOT NULL,
	"data_atual"	DATE NOT NULL,
	"data_devolucao"	DATE NOT NULL,
	"dia_semana"	TEXT NOT NULL,
	"devolvido"	TEXT NOT NULL DEFAULT 'N├úo',
	"data_entregue"	DATE,
	PRIMARY KEY("id" AUTOINCREMENT),
	FOREIGN KEY("user_id") REFERENCES "cad_usuario"("id"),
	FOREIGN KEY("acervo_id") REFERENCES "cad_acervo"("id")
);
CREATE TABLE IF NOT EXISTS "cad_escola" (
	"id"	INTEGER UNIQUE,
	"nome"	TEXT,
	"login"	TEXT,
	"imagem"	TEXT,
	PRIMARY KEY("id" AUTOINCREMENT)
);
